# POSTGRES_HOST
# For MAC 0.0.0.0
# For WIN localhost
# For Docker "database"
DB_HOST=
DB_PORT=
DB_TYPE=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
DB_SSL=
PORT=
ENABLE_ORM_LOGS=
JWT_EXPIRATION=
NODE_ENV=
SECRET_SIGNER=